<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-enable-androidx" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>cordova-enable-androidx</name>
  <repo>https://github.com/usernuno/cordova-enable-androidx.git</repo>
  <issue>https://github.com/usernuno/cordova-enable-androidx/issues</issue>

  <description></description>
  <author>Nuno Azevedo</author>

  <license>Apache-2.0</license>

  <keywords>cordova, androidx</keywords>

  <platform name="android">
    <hook type="after_plugin_install" src="src/android/handle_androidx.js"/>
  </platform>

</plugin>
